.navigation, .mediaPlatforms{
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  padding-left: 15px;
  text-decoration: none;
  color: white;
}
.cover img{
  border-radius: 35%;
  height: 200px;
  width:200px;
}
button{
  margin-bottom: 20px;
}
.cover{
  text-decoration: none;
}
.footer{
  height:40px;
  /* background-color: rgba(128, 0, 128, 0.288); */
  background-image: linear-gradient(  #232526
  ,
  #414345   ) ;
  position: relative;
  width: 100%;
  padding-top: 20px;

}
.userForm, .myCompCont{
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
}
.userForm{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  background-color:white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
blockquote{
  font-size: 1.2em;
  padding: 0 0 0 6rem;
  margin: 0;
  font-style: italic;
  position: relative;
}
.aboutMe{
  column-count: 3;
  text-align: justify;
  column-gap: 3.5rem;
}
.aboutMe:first-letter{
  font-size: 300%;
  float: left;
  margin: 0 0.5rem 0 0;
  line-height: .8;
  color: #aaa;
}
.userForm input{
  width:40%;
  height: 25px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-size: 15px;
  padding-left: 25%;
  margin-left: 15%;
  margin-top: 20px;

}
.userForm button{
  width: 100px;
  height: 27px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  margin-left: 45%;
}
.myCompCont p, .cover p,h1{
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 30px;
  justify-content: center;
  color:black;
  margin-left: 15px;
  margin-right: 15px;
  
}
.navBar{
  height:40px;
  background-image: linear-gradient(  #232526
  ,
  #414345   ) ;
  padding-top: 15px;

}
.userInfo{
  display: flex;
}